<div id="summary-actions" class="mt-4" style="display: none">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-secondary"
      onclick="downloadSummary('docx')"
    >
      Download DOCX
    </button>
  </div>
  <button
    type="button"
    class="btn btn-secondary"
    onclick="copySummaryToClipboard()"
  >
    Copy to Clipboard
  </button>
  <div class="btn-group dropup">
    <button
      type="button"
      class="btn btn-secondary dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      Translate
    </button>
    {% include 'components/language_dropdown.html' %}
  </div>
</div>
