<div id="translation-actions" class="mt-4" style="display: none">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-secondary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-label="Download Translation"
    >
      <i class="fas fa-download"></i>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          href="#"
          onclick="downloadTranslation('docx')"
        >
          <i class="far fa-file-word"></i> DOCX (Word)
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          onclick="downloadTranslation('srt')"
        >
          <i class="far fa-closed-captioning"></i> SRT (Subtitles)
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          onclick="downloadTranslation('vtt')"
        >
          <i class="far fa-closed-captioning"></i> WebVTT (Subtitles)
        </a>
      </li>
    </ul>
  </div>
  <button
    type="button"
    id="copyTranslation"
    class="btn btn-secondary"
    onclick="copyTranslationToClipboard()"
    aria-label="Copy Translation to Clipboard"
  >
    <i class="far fa-copy"></i>
  </button>
  <div id="translation-notification" class="notification" style="display: none;">Copied to clipboard!</div>
</div>

  <script>
    document.getElementById('copyTranslation').addEventListener('click', function() {
        var notification = document.getElementById('translation-notification');
        notification.style.display = 'block';
        
        setTimeout(function() {
            notification.style.display = 'none';
        }, 2000);
    });
</script>